$font-family: DM Sans, Arial, Helvetica, sans-serif;
$font-family-title: Titan One, Arial, Helvetica, sans-serif;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$alt-text-color: #907e82;
$accent-text-color: #d41443;
$accent-alt-text-color: #ffa5ba;
$body-bgc: #ffffff;
$alt-section-bgc: #fff5f6;
$button-hover-bgc-color: #c7133e;
$button-hover-alt-bgc-color: #ecebeb;
$mobile-size: 480px;
$tablet-size: 768px;
$desktop-size: 1280px;

$customer-bgc: #fafafa;
